<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js"></script>
    <title>Project</title>
    <style>
        h1 {
            color: rgb(191, 135, 199);
        }
    </style>

</head>
<body>
    <h1>Majaslapa</h1>
    <ol> 
    <li>bread</li>
    <li>bread</li>
    <li>bread</li>
    <li>bread</li>    
    </ol>

    <h3>
        <p th:text="${age}"></p>
    </h3>
</body>
</html>
